* {
    font-family: "Forum", serif;
    font-style: normal;
}

h1 {
    color: #000032;;
       
}


.card {
    width: 350px;
    margin:  auto; 
    border-radius: 5px;
}

.text { 
    padding: 5px;
    text-align: center;
    font-size: 30px;
   
}

.botao {
    background-color: #000032;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 18px; 
    text-decoration: none;
    
}

.rounded-5px {
  border-radius: 5px !important;
}

.botao {
    display: block;
    text-align: center;
    background-color: #000032;
    color: #fff;
    padding: 10px;
    font-size: 18px; 
    text-decoration: none;
    border-radius: 4px;
}


.maria {
        width: 100%;
        height: 40vh;
    }



.maria {
  display: block;
  width: 100%; /* ou o tamanho desejado */
  height: auto;
}

.seta-baixo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: white; /* ou preto, dependendo do fundo da imagem */
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(6px); }
}

.container2 {
    background-color: #000032;
    text-align: center;
    color: #ffffff;
    margin-top: 10vh
}


.imgfilhos {
    width: 100%;
    
}

.sobreMaria {
    font-size: 2rem;
}

.textP {
   padding: 70px 0;
}
    

.aLeia {
    background-color: #DAA520;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}

.aLeia:hover {
    background-color: #daa520be;
    color: #fff;
    transition: ease 0.3s;
}





@media (min-width: 1000px) {
    .maria {
        width: 100%;
        height: 100vh;
    }


}
