* {
    font-family: "Forum", serif, arial;
    font-style: normal;
}

h1 {
    color: #000;
    margin-top: 100px;
    
       
}


.card {
    width: 350px;
    margin: 10px auto; 
    border-radius: 5px;

}

.card img{
    width: 100%;
    height: 200px;
}


.text { 
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #000;
   
}

.rounded-5px {
  border-radius: 5px !important;
}

.botao {
    display: block;
    text-align: center;
    background-color: #DAA520;
    text-decoration: none;
    color: #000032;
    padding: 5px;
    font-size: 1.2rem;
}

.botao:hover {
    background-color: #b3881d;
    color: #000032;
    text-decoration: none;
}


.maria {
  display: block;
  width: 100%; 
  height: auto;
}

.seta-baixo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color: white; /* ou preto, dependendo do fundo da imagem */
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(6px); }
}

.container2 {
    background-color: #000032;
    text-align: center;
    color: #ffffff;
    margin-top: 10vh;
    
}

.container3 {
    margin-top: 10vh;
    text-align: center;
    color: #000;
    
}


.imgfilhos {
    width: 100%;
    
}

.sobreMaria {
    padding: 20px;
}

.textP {
    font-family: sans-serif, arial;
    margin: 10px 0;
}

 

.aLeia {
    background-color: #DAA520;
    text-decoration: none;
    color: #000032;
    list-style-type: none;
    font-size: 20px !important;
}

.aLeia:hover {
    background-color: #815d00;
    color: #ffffff;
    transition: ease 0.3s;
}

.localizacao {
    padding: 20px;
}

.mapa {
    width: 80%;
    height: 500px;
    border: 1px;
}

.card-img-top {
    width: 50px;
    height: 50px;
}

.capa-media{
    width: 200px !important;    
    height: 200px !important; 
    display: block;     
    margin: 0 auto;    

}

.capa-grande {
    width: 100% !important;    
    height: 300px !important; 
    display: block;
    padding: 0px;        

}







@media (min-width: 1000px) {
    .maria {
        height: 100vh;
    }
    
    .textC{
        font-size: 1.7rem;
    }

    h2 {
        font-size: 2.1rem;
    }

   
   
  
}

